<div class="section-padding">
  <div class="container narrow-form">
    <h1 class="heading-xl">{{ 'customer.reset_password.title' | t }}</h1>
    <p style="opacity:0.7; margin-bottom: 1.5rem;">{{ 'customer.reset_password.subtext' | t }}</p>

    {% form 'recover_customer_password' %}
      {% if form.posted_successfully? %}
        <div class="form-message form-message--success">Wir haben dir eine E-Mail zum Zurücksetzen deines Passworts gesendet.</div>
      {% endif %}
      <div class="form-field" style="margin-bottom: 1.25rem;">
        <label for="RecoverEmail">{{ 'customer.reset_password.email' | t }}</label>
        <input type="email" id="RecoverEmail" name="email" autocomplete="email" required>
      </div>
      <button type="submit" class="button button--dark button--block">{{ 'customer.reset_password.submit' | t }}</button>
    {% endform %}
  </div>
</div>
