<div class="section-padding--tight bg-black">
  <div class="container trust-bar__inner">
    {% for block in section.blocks %}
      <div class="trust-bar__item" {{ block.shopify_attributes }}>
        {% render 'icon-check' %}
        <span>{{ block.settings.text }}</span>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Vertrauensleiste",
  "blocks": [
    {
      "type": "item",
      "name": "Punkt",
      "settings": [
        { "type": "text", "id": "text", "label": "Text", "default": "DSGVO-konform" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Vertrauensleiste",
      "blocks": [
        { "type": "item", "settings": { "text": "Made in Germany" } },
        { "type": "item", "settings": { "text": "DSGVO-konform" } },
        { "type": "item", "settings": { "text": "Persönliche Betreuung" } },
        { "type": "item", "settings": { "text": "Erste Ergebnisse in 30 Tagen" } },
        { "type": "item", "settings": { "text": "Monatlich kündbar" } }
      ]
    }
  ]
}
{% endschema %}
